asgiref==3.8.1
async-timeout==4.0.3
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
cryptography==43.0.3
dbus-python==1.2.16
defusedxml==0.8.0rc2
distro-info==1.0+deb11u1
Django==4.2.16
django-crontab==0.7.1
django-redis==5.4.0
factory-boy==3.3.1
Faker==30.3.0
faker-education==1.2.1
httplib2==0.18.1
idna==2.10
oauthlib==3.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
pycurl==7.43.0.6
PyGObject==3.38.0
PyJWT==2.9.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.9.0.post0
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==1.0.1
python3-openid==3.2.0
redis==5.1.1
reportbug==7.10.3+deb11u2
requests==2.25.1
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
typing-extensions==4.12.2
unattended-upgrades==0.1
urllib3==1.26.5
