asgiref==3.8.1
async-timeout==4.0.3
certifi==2020.6.20
chardet==4.0.0
dbus-python==1.2.16
distro-info==1.0+deb11u1
Django==4.2.16
django-crontab==0.7.1
django-redis==5.4.0
factory-boy==3.3.1
Faker==30.3.0
faker-education==1.2.1
httplib2==0.18.1
idna==2.10
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycurl==7.43.0.6
PyGObject==3.38.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-dateutil==2.9.0.post0
python-debian==0.1.39
python-debianbts==3.1.0
redis==5.1.1
reportbug==7.10.3+deb11u2
requests==2.25.1
six==1.16.0
sqlparse==0.5.1
typing-extensions==4.12.2
unattended-upgrades==0.1
urllib3==1.26.5
